body {
  font-family: sans-serif;
}

.form-control::placeholder {
  font-size: 13px;
  /* adjust as needed */
  color: #888;
  /* optional for better UI */
}

.form-label {
  font-size: 14px;
  color: black;
}

.form-check-label {
  font-size: 0.875rem;
  color: black;
}

.form-check-input {
  width: 14px;
  height: 14px;
  margin-top: 0.3rem;
  color: black;
  /* align vertically with smaller text */
}

.form-control {
  font-size: 13px;
  padding-left: 8px;
  color: black;
}

input {
  color: black !important;
}

.form-select {
  font-size: 0.875rem;
  color: black;
  /* 14px */
}

/* status dot color */
.status-dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 8px;
}

.status-dot.active {
  background-color: #28a745;
  /* Green for active */
}

.status-dot.inactive {
  background-color: #dc3545;
  /* Red for inactive */
}

.loader-div {
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner {
  color: blue;
}

.btn {
  font-size: 14px;
  padding: .3rem
}

.errors-text {
  color: red;
  font-size: 11px;
}


/* Page wrapper */
.page-wrapper {
  min-height: 100vh;
  /* full screen */
  display: flex;
  flex-direction: column;
}

/* Main content will stretch */
.main-content {
  flex: 1;
  /* take remaining space */
}

/* table style */
.table-hover tbody tr:hover {
  background-color: #f1f3f5; /* ya koi bhi hover color */
}

.table-hover tbody tr:hover td {
  color: #000 !important; /* black forcefully */
}


/* Footer stick bottom */
.footer {
  margin-top: auto;
  /* push footer down */
}